@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100&display=swap");

:root {
  --blue: #368ee7;
}

* {
  font-family: "Azeret Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.5s linear;
}

*::selection {
  background: var(--blue);
  color: #353434;
}

html {
  font-size: 62%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1.4rem;
}

html::-webkit-scrollbar-track {
  background: #424141;
}

html::-webkit-scrollbar-thumb {
  background: var(--blue);
}

body {
  background: #1f1f1f;
  overflow-x: hidden;
  padding-left: 35rem;
}

header {
  position: fixed;
  top: 0;
  left: 15px;
  z-index: 1000;
  height: 100%;
  width: 40rem;
  background: #0d4680;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}

header .avatar-user img {
  height: 30rem;
  width: 30rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 0.7rem solid var(--blue);
}

header .avatar-user .name {
  font-size: 4rem;
  color: #fff;
}

header .avatar-user .postagem {
  font-size: 2rem;
  color: #fff;
}

header .navbar {
  width: 100%;
}

header .navbar ul {
  list-style: none;
  padding: 1rem 1rem;
}

header .navbar ul li a {
  display: block;
  padding: 1rem;
  margin: 1.5rem 0;
  background: #368ee7;
  color: #fff;
  font-size: 2rem;
  border-radius: 5rem;
}

header .navbar ul li a:hover {
  background-color: #184ad3;
}

/*  MENU BURGUER */
#menu {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background: #368ee7;
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  padding: 1rem 1.5rem;
  z-index: 1000;
  display: none;
}

section {
  min-height: 100vh;
  padding: 1rem;
}

.home {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 0 15rem;
}

.home h3 {
  font-size: 2.5rem;
  color: #fff;
}

.home h1 {
  font-size: 5rem;
  color: #fff;
}

.home h1 span {
  color: var(--blue);
}

.home p {
  color: #fff;
  font-size: 2rem;
  padding: 1rem 0;
}

.btn {
  padding: 0.7rem 2rem;
  background: #368ee7;
  color: #fff;
  cursor: pointer;
  margin-top: 3rem;
  font-size: 2rem;
  border-radius: 5rem;
}

.btn i {
  padding: 0 0.5rem;
  font-size: 1.8rem;
}

.btn:hover {
  background-color: #184ad3;
}

/* SEÇÃO SOBRE */
.sobre {
  background-color: #1f1f1f;
  padding: 60px 20px;
}

.heading {
  text-align: center;
  margin-bottom: 40px;
  font-size: 4rem;
  color: #fff;
}

.heading span {
  color: var(--blue);
}

.sobre .row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sobre .info {
  flex: 1 1 35%; /* Ajuste conforme necessário */
  padding: 20px;
  background: #2a2a2a;
  border-radius: 10px;
  margin-top: 55px; /* Adicione esta linha para mover a caixa para baixo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #fff;
  margin-left: 70px; /* Adicione ou ajuste esta linha para mover a caixa mais para a direita */
}

.sobre .info-item {
  margin-bottom: 20px;
}

.sobre .info-item h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--blue);
}

.sobre .info-item h3 span {
  color: #fff;
  font-weight: bold;
  margin-right: 10px;
}

.sobre .social-icons {
  margin-top: 20px;
}

.sobre .social-icons h3 {
  font-size: 2rem;
  color: var(--blue);
  margin-bottom: 10px;
}

.social-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #368ee7;
  margin-top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}

.social-icon:hover {
  background-color: #184ad3;
}

.habilidades {
  flex: 1 1 45%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0;
}

.habilidades .box {
  width: 150px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background: rgba(41, 125, 228, 0.8);
  transition: transform 0.3s, box-shadow 0.3s;
}

.habilidades .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.habilidades .box i {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 10px;
}

.habilidades .box span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  display: block;
}

.habilidades .box h3 {
  font-size: 1.2rem;
  color: #fff;
}

/* SEÇÃO PORTFOLIO */
.portfolio {
  background-color: #1f1f1f;
}

.portfolio .box-conteudo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.portfolio .box-conteudo .box {
  height: 20rem;
  width: 26rem;
  border-radius: 1rem;
  margin: 2rem;
  overflow: hidden;
  cursor: pointer;
}

.portfolio .box-conteudo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.portfolio .box-conteudo .box:hover img {
  transform: scale(1.2);
}

/* SEÇÃO FORMULARIO */
.contato {
  background-color: #1f1f1f;
}

.contato .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.contato .row .conteudo {
  flex: 1 1 30rem;
  padding: 12rem;
  padding-bottom: 0;
}

.contato .row form {
  flex: 1 1 45rem;
  padding: 4rem;
  margin: 2rem;
  padding-bottom: 2rem;
}

.contato .row form .box {
  padding: 1rem;
  margin: 1rem 0;
  background: rgba(
    39,
    39,
    39,
    0.2
  ); /* 0.2 é a opacidade, você pode ajustar conforme necessário */
  color: white; /* Alterando a cor do texto para branco */
  font-weight: bold;
  text-transform: none;
  font-size: 1.5rem;
  width: 100%;
  box-shadow: inset 0 0 1em rgb(147, 147, 148);
  border: 1px solid black; /* Adicionando bordas pretas */
  border-radius: 4px;
}

.contato .row form .box::placeholder {
  text-transform: capitalize;
}

.contato .row form .message {
  height: 15rem;
  resize: none;
}

.contato .row .conteudo .title {
  text-transform: uppercase;
  color: white;
  font-size: 3rem;
  padding-bottom: 2rem;
}

.contato .row .conteudo .info h3 {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: #eee;
  padding: 1rem 0;
  font-weight: bold;
}

.contato .row .conteudo .info h3 i {
  padding-right: 1rem;
  color: var(--blue);
}

.contato .row .conteudo {
  padding-top: 1px;
  padding-bottom: 20rem;
}

.secao-contato {
  margin-top: -20px;
}

/* SEÇÃO PARA RODA-PÉ */
.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin-top: 0px;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  text-align: center;
  font-size: 20px;
  margin: 0;
}

/*SEÇÂO ICONES DE REDES SOCIAIS*/
.social-icons .social-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #368ee7;
  margin-top: 0px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}

.social-icon:hover {
  background-color: #184ad3;
}

/* SKILLS MARQUEE */
.skills-marquee {
  width: 80%;
  overflow: hidden;
  position: relative;
  margin: 40px auto;
}

.skills-marquee::before,
.skills-marquee::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
  z-index: 1;
}

.skills-marquee::before {
  left: 0;
  background: linear-gradient(to right, rgb(39, 39, 39), transparent);
}

.skills-marquee::after {
  right: 0;
  background: linear-gradient(to left, rgb(39, 39, 39), transparent);
}

.marquee {
  display: flex;
  animation: marquee 20s linear infinite;
}

.marquee i {
  font-size: 3rem;
  margin: 0 30px;
  color: var(--blue);
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  /* ESTILO DA HOME */
  .home {
    padding: 1rem 4rem;
  }
}

/* MEDIA QUERIES */
@media (max-width: 991px) {
  header {
    left: -120%;
  }

  #menu {
    display: block;
  }

  header.toggle {
    left: 0%;
  }

  /* ESTILO DA HOME */
  body {
    padding: 0;
  }
}

/* MEDIA QUERIES */
@media (max-width: 700px) {
  html {
    font-size: 50%;
  }
}

/* Estilos para dispositivos móveis (max-width: 768px, por exemplo) */
@media (max-width: 768px) {
  .map-container {
    margin-top: 0; /* Redefine a margem superior */
    margin-left: 0; /* Redefine a margem esquerda */
    position: relative; /* Define a posição como relativa para o posicionamento do mapa */
  }
}

/* MEDIA QUERIES */
@media (max-width: 400px) {
  header {
    width: 100vw;
  }
  .heading {
    margin: 0 3rem;
  }
  .sobre .row .habilidades .box {
    width: 100%;
  }
  .portfolio .box-conteudo img {
    width: 100%;
  }
  .contato .row .form {
    margin: 3rem 0;
  }
}
