@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100&display=swap");

:root {
  --blue: #5b8dbe;
}

* {
  font-family: "Azeret Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.5s linear;
}

*::selection {
  background: linear-gradient(
    135deg,
    #0a0c0f,
    #2e3a46
  ); /* Degradê para o fundo do corpo */
}

html {
  font-size: 62%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1.4rem;
}

html::-webkit-scrollbar-track {
  background: #424141;
}

html::-webkit-scrollbar-thumb {
  background: var(--blue);
}

body {
  background: linear-gradient(
    135deg,
    #0a0c0f,
    #2e3a46
  ); /* Degradê para o fundo do corpo */
  overflow-x: hidden;
  padding-left: 35rem;
}

header {
  position: fixed;
  top: 0;
  left: 15px;
  z-index: 1000;
  height: 100%;
  width: 40rem;
  background: #34495e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}

header .avatar-user img {
  height: 30rem;
  width: 30rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 0.7rem solid var(--blue);
}

header .avatar-user .name {
  font-size: 4rem;
  color: #fff;
}

header .avatar-user .postagem {
  font-size: 2rem;
  color: #fff;
}

header .navbar {
  width: 100%;
}

header .navbar ul {
  list-style: none;
  padding: 1rem 1rem;
}

header .navbar ul li a {
  display: block;
  padding: 1rem;
  margin: 1.5rem 0;
  background: #3b648d;
  color: #fff;
  font-size: 2rem;
  border-radius: 5rem;
}

header .navbar ul li a:hover {
  background-color: #5b8dbe;
}

/*  MENU BURGUER */
#menu {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background: #3b648d;
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  padding: 1rem 1.5rem;
  z-index: 1000;
  display: none;
}

section {
  min-height: 100vh;
  padding: 1rem;
}

.home {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 0 15rem;
}

.home h3 {
  font-size: 2.5rem;
  color: #fff;
}

.home h1 {
  font-size: 5rem;
  color: #fff;
}

.home h1 span {
  color: var(--blue);
}

.home p {
  color: #fff;
  font-size: 2rem;
  padding: 1rem 0;
}

.btn {
  padding: 0.7rem 2rem;
  background: #3b648d;
  color: #fff;
  cursor: pointer;
  margin-top: 3rem;
  font-size: 2rem;
  border-radius: 5rem;
}

.btn i {
  padding: 0 0.5rem;
  font-size: 1.8rem;
}

.btn:hover {
  background-color: #5b8dbe;
}

/* SEÇÃO SOBRE */
.sobre,
.portfolio,
.contato {
  background: linear-gradient(
    135deg,
    #0a0c0f,
    #2e3a46
  ); /* Degradê para o fundo do corpo */
  padding: 60px 20px;
}

.heading {
  text-align: center;
  margin-bottom: 40px;
  font-size: 4rem;
  color: #fff;
}

.heading span {
  color: var(--blue);
}

.sobre .row,
.portfolio .box-conteudo,
.contato .row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sobre .info {
  flex: 1 1 35%; /* Ajuste conforme necessário */
  padding: 20px;
  background: #34495e;
  border-radius: 10px;
  margin-top: 55px; /* Adicione esta linha para mover a caixa para baixo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
  margin-left: 70px; /* Adicione ou ajuste esta linha para mover a caixa mais para a direita */
}

.sobre .info-item {
  margin-bottom: 20px;
}

.sobre .info-item h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: black;
}

.sobre .info-item h3 span {
  color: white;
  font-weight: bold;
  margin-right: 10px;
}

.sobre .social-icons {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.sobre .social-icons h3 {
  font-size: 2rem;
  color: white;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.sobre .social-icons h3 span {
  margin-right: 10px; /* Espaçamento entre o texto e os ícones */
}

.social-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
  border-radius: 5px; /* Make the icons square */
}

.social-icon.github {
  background-color: #333; /* GitHub color */
}

.social-icon.github:hover {
  background-color: #555;
}

.social-icon.linkedin {
  background-color: #0e76a8; /* LinkedIn color */
}

.social-icon.linkedin:hover {
  background-color: #005582;
}

.habilidades {
  flex: 1 1 45%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0;
}

.habilidades .box {
  width: 150px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background: #34495e;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.habilidades .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background: #34495e;
}

.habilidades .box i {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 10px;
}

.habilidades .box span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  display: block;
}

.habilidades .box .progress-bar {
  width: 100%;
  background-color: #34495e;
  border-radius: 5px;
  overflow: hidden;
  height: 10px;
  margin-top: 10px;
}

.habilidades .box .progress {
  height: 100%;
  background-color: #587a9c;
  border-radius: 5px;
}

/* SEÇÃO PORTFOLIO */
.portfolio .box-conteudo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.portfolio .box-conteudo .box {
  height: 20rem;
  width: 26rem;
  border-radius: 1rem;
  margin: 2rem;
  overflow: hidden;
  cursor: pointer;
}

.portfolio .box-conteudo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.portfolio .box-conteudo .box:hover img {
  transform: scale(1.2);
}
/* Estilo para a barra de progresso externa */
.habilidades .progress-bar {
  background-color: #34495e; /* Cor de fundo da barra externa */
  border-radius: 0; /* Cantos quadrados */
  overflow: hidden; /* Mantém o preenchimento interno dentro dos limites */
  height: 20px; /* Altura fixa para a barra de progresso */
  margin-top: 5px; /* Espaço acima da barra */
  position: relative; /* Para posicionamento absoluto do preenchimento */
}

/* Estilo para a barra de progresso interna */
.habilidades .progress {
  background-color: #34495e; /* Cor de preenchimento da barra */
  height: 100%;
  width: 0; /* Largura inicial para animação */
  border-radius: 0; /* Cantos quadrados */
  background-image: repeating-linear-gradient(
    90deg,
    #2b4157 0px,
    #2b4157 9px,
    #798c9e 9px,
    #798c9e 10px
  ); /* Efeito quadriculado com bordas brancas sutis */
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra interna para efeito 3D */
  transition: width 0.5s ease-in-out; /* Transição suave para a largura */
}

/* Seção Contato */
.contato {
  background: linear-gradient(
    135deg,
    #0a0c0f,
    #2e3a46
  ); /* Degradê para o fundo do corpo */
  padding: 60px 20px;
  color: #fff;
}

.contato .heading {
  text-align: center;
  margin-bottom: 40px;
  font-size: 4rem;
  color: #fff;
}

.contato .heading span {
  color: var(--blue);
}

.contato .row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contato .conteudo {
  flex: 1 1 25%; /* Ajuste o tamanho do box */
  padding: 20px;
  background: #34495e;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #fff;
  margin-right: 20px; /* Ajuste o espaçamento à direita */
  margin-top: 20px; /* Ajuste o espaçamento acima */
  margin-left: 80px;
}

.contato .conteudo .title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ecf0f1;
}

.contato .conteudo .info h3 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.contato .conteudo .info h3 i {
  margin-right: 10px;
  color: #5b8dbe;
}

.contato .conteudo .info h3 a {
  color: #ecf0f1;
  text-decoration: none;
}

.contato .conteudo .info h3 a:hover {
  text-decoration: underline;
}

.contato form {
  flex: 1 1 50%; /* Ajuste o tamanho do form */
  padding: 20px;
  background: #34495e;
  border-radius: 10px;
  box-shadow: #34495e;
  margin-top: 20px; /* Ajuste o espaçamento acima */
  margin-left: 80px;
}

.contato form .box {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  background: #5b8dbe;
  border: none;
  color: #fff;
  font-size: 1.6rem;
}

.contato form .box::placeholder {
  color: #bdc3c7;
}

.contato form .box.message {
  height: 150px;
  resize: none;
}

.contato form .btn {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  background: #3b648d;
  border: none;
  color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contato form .btn i {
  margin-left: 10px;
}

.contato form .btn:hover {
  background: #5b8dbe;
}

/* SEÇÃO PARA RODA-PÉ */
.footer {
  background: #34495e;
  color: #fff;
  padding: 10px;
  margin-top: 0px;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  text-align: center;
  font-size: 20px;
  margin: 0;
}

/*SEÇÂO ICONES DE REDES SOCIAIS*/
.social-icons .social-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #587a9c;
  margin-top: 0px;
  width: 40px;
  height: 40px;
  border-radius: 5px; /* Ícones quadrados */
  margin-left: 10px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}

.social-icon.github {
  background-color: #333; /* GitHub color */
}

.social-icon.github:hover {
  background-color: #555;
}

.social-icon.linkedin {
  background-color: #0e76a8; /* LinkedIn color */
}

.social-icon.linkedin:hover {
  background-color: #005582;
}

/* SKILLS MARQUEE */
.skills-marquee {
  width: 50%;
  overflow: hidden;
  position: relative;
  margin: 40px auto;
}

.skills-marquee::before,
.skills-marquee::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
  z-index: 1;
}

.skills-marquee::before {
  left: 0;
  background: linear-gradient(to right, rgb(39, 39, 39), transparent);
}

.skills-marquee::after {
  right: 0;
  background: linear-gradient(to left, rgb(39, 39, 39), transparent);
}

.marquee {
  display: flex;
  animation: marquee 20s linear infinite;
}

.marquee i {
  font-size: 3rem;
  margin: 0 30px;
  color: #34495e;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #587a9c;
  margin: 15% auto; /* 15% do topo e centralizado */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Pode ser mais ou menos, dependendo do tamanho da tela */
  font-family: "Calibri", sans-serif; /* Altera a família da fonte */
  font-size: 22px; /* Altera o tamanho da fonte */
  color: #000000; /* Define a cor do texto para cinza */
}

.modal-content h2 {
  margin-top: 0; /* Remove margem superior para descolar do topo */
  margin-bottom: 20px; /* Adiciona espaço abaixo do título */
  color: #fff; /* Cor branca para o título */
  font-size: 28px; /* Tamanho maior para o título */
}

.modal-content p {
  font-size: 20px; /* Tamanho de fonte menor para parágrafos */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px; /* Ajuste o tamanho da fonte aqui */
  font-weight: bold;
  font-family: "Arial", sans-serif; /* Altera a família da fonte */
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#saveSkillInfo {
  background-color: #4caf50; /* Verde */
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-family: "Arial", sans-serif; /* Altera a família da fonte */
  font-size: 18px; /* Ajuste o tamanho da fonte */
}

#saveSkillInfo:hover {
  opacity: 0.8;
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  /* ESTILO DA HOME */
  .home {
    padding: 1rem 4rem;
  }
}

/* MEDIA QUERIES */
@media (max-width: 991px) {
  header {
    left: -120%;
  }

  #menu {
    display: block;
  }

  header.toggle {
    left: 0%;
  }

  /* ESTILO DA HOME */
  body {
    padding: 0;
  }
}

/* MEDIA QUERIES */
@media (max-width: 700px) {
  html {
    font-size: 50%;
  }
}

/* Estilos para dispositivos móveis (max-width: 768px, por exemplo) */
@media (max-width: 768px) {
  .map-container {
    margin-top: 0; /* Redefine a margem superior */
    margin-left: 0; /* Redefine a margem esquerda */
    position: relative; /* Define a posição como relativa para o posicionamento do mapa */
  }
}

/* MEDIA QUERIES */
@media (max-width: 400px) {
  header {
    width: 100vw;
  }
  .heading {
    margin: 0 3rem;
  }
  .sobre .row .habilidades .box {
    width: 100%;
  }
  .portfolio .box-conteudo img {
    width: 100%;
  }
  .contato .row .form {
    margin: 3rem 0;
  }
}
